.payment-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.payment-container img{
    margin-bottom: 50px;
}
.payment-arrow-back{
    color: white;
    font-size: 40px;
    margin-right: 250px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.tarjet-button{
    width: 297px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 7px;
    margin-left: 10px;
    gap: 5px;
    background: linear-gradient(
        270deg,
        rgba(254, 160, 77, 0) -5.13%,
        rgba(254, 160, 77, 0.6) 50%
      ),
      #fe564d;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
}