.barra-presupuesto-container{
    display: flex;
    justify-content: center; 
    margin: 10px;
}

.barra-presupuesto-input {
    width: 152px;
    height: 26px;
    outline: none;
    border: none;
    background-color: #E7E7E7;
    border-radius: 30px;
    padding-left: 13px;
    letter-spacing: 1.59px;
    font-weight: bold;
}

.barra-presupuesto-input::placeholder {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

