.show-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-topbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:100px;
  width: 375px;
  height: 34px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 26px;
}
.show-topbar span{
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.show-section{
  height: 700px;
  overflow-y: scroll;
}
.show-screen::-webkit-scrollbar{
  display: none;
}