.contenedor2-conteiner{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 15px;

    width: 130px;
    height: 28px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.contenedor2-conteiner img{

    width: 39px;
    height: 28px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

