.platos-conteiner{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;

    width: 104px;
    height: 98px;
    left: 0px;
    top: 0px;

    background: linear-gradient(0.62deg, #FFFFFF 0.84%, rgba(245, 121, 121, 0) 76.92%);
    border-radius: 15px;

}
.platos-conteiner img{
    width: 74.93px;
    height: 50px;
    border-radius: 30px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.platos-conteiner span{
    display: flex;
    width: 80px;
    height: 22px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;

    letter-spacing: 1.59px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

