.barra-busqueda {
    display: flex;
    justify-content: center;
}

.barra-busqueda-container{
    display: flex;
    border-radius: 30px;
    align-items: center;
    flex-direction: row;
    width: 320px;
    height: 36px;
    background-color: #E7E7E7;
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 4px;
    }

.barra-busqueda-input {
    display: flex;
    width: 240px;
    height: 24px;
    outline: none;
    border: none;
    background-color: #E7E7E7;
    letter-spacing: 1.59px;
    color: black;
    font-weight: bold;
}

.barra-busqueda-input::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

.barra-busqueda-icon {
    display: flex;
    height: 26px;
    align-items: center;
    justify-self: flex-start;
    margin-left: 27px;
}