.boton-busqueda {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: #E7E7E7;
    border: none;
    align-items: center;
    margin-left: 28px;
}

.boton-presupuesto {
    display: flex;
    width: 45px;
    background-color: #1B1D22;
    border: none;
    align-items: center;
}