.boton-busqueda {
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #e7e7e7;
  border: none;
  align-items: center;
  margin-left: 28px;
}
.boton-mascara {
  display: flex;
  width: 51px;
  height: 40px;
  border: none;
  order: 0;
  flex-grow: 0;
  background-color: #1b1d22;
  align-items: stretch;
}

.boton-gps{
  
  display: flex;
  width: 41px;
  height: 33px;
  left: 277px;
  top: 48px;
  border: none;
  background-color: #1b1d22;
  align-items: stretch;
}

.boton-presupuesto {
  display: flex;
  width: 45px;
  background-color: #1b1d22;
  border: none;
  align-items: center;
}

.boton-all {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 11px;
  

  width: 51px;
  height: 22px;

  background: linear-gradient(270deg, rgba(254, 160, 77, 0) 0%, rgba(254, 160, 77, 0.6) 55.01%), #FE564D;
  border-radius: 30px;

  flex: none;
  order: 0;
  flex-grow: 0;

  color: #000000;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 1.59px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
  
}

.boton-breakfast{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 11px;

  width: 118px;
  height: 22px;

  background: linear-gradient(270deg, rgba(254, 160, 77, 0) 12.5%, rgba(254, 160, 77, 0.6) 59.91%), #FE564D;
  border-radius: 30px;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 1.59px;

  color: #000000;

}
.boton-logobreakfast{
  display: flex;
  width: 44px;
  height: 36px;
  background-color: #1b1d22;
  border: none;
  align-items: center;
}

.boton-lauch{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 11px;
  
  width: 78px;
  height: 22px;
  
  background: linear-gradient(270deg, rgba(254, 160, 77, 0) 8.56%, rgba(254, 160, 77, 0.6) 50%), #FE564D;
  border-radius: 30px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 1.59px;

  color: #000000;

}

.boton-logolaunch{
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #1b1d22;
  border: none;
  align-items: center;
}

.boton-dinner{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 11px;

  width: 84px;
  height: 22px;

  background: linear-gradient(270deg, rgba(254, 160, 77, 0) 8.56%, rgba(254, 160, 77, 0.6) 50%), #FE564D;
  border-radius: 30px;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 1.59px;

  color: #000000;

}

.boton-logodinner{
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #1b1d22;
  border: none;
  align-items: center;
}

.boton-postre{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 11px;

  width: 106px;
  height: 22px;

  background: linear-gradient(270deg, rgba(254, 160, 77, 0) 8.56%, rgba(254, 160, 77, 0.6) 50%), #FE564D;
  border-radius: 30px;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 1.59px;

  color: #000000;

}

.boton-logopostre{
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #1b1d22;
  border: none;
  align-items: center;
}
.boton-bebida{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 11px;

  width: 86px;
  height: 22px;

  background: linear-gradient(270deg, rgba(254, 160, 77, 0) 8.56%, rgba(254, 160, 77, 0.6) 50%), #FE564D;
  border-radius: 30px;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 1.59px;

  color: #000000;

}

.boton-logobebida{
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #1b1d22;
  border: none;
  align-items: center;
}
