.container-location{
    display: flex;
    flex-direction: column;
}

.map{
    width: 315px;
    height: 100vh;
    border-radius: 20px;
    background-color: antiquewhite;
}

.info-location{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 1.59px;
    color: #ffffff;
    margin: 40px 0px ;
}