.search-container{
    display: flex;
    flex-direction: row;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #E7E7E7;
    border-radius: 30px;
    width: 250px;
    height: 35px;
    margin-left: 16px;
    margin-bottom: 12px;
    text-align: end;
}
.search-icon{
    padding-left: 20px;
    font-size: 40px;
    color: white;
}

.search input{
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.search input:focus{
    outline: none;
}
