.table-container {
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 110px;
  margin-left: 21px;
  margin-top: 25.5px;
}

.sillas-container {
  display: flex;
  flex-direction: row;
}

.mesa-container {
  display: flex;
  justify-content: center;
}

.silla-izquierda {
  margin-left: 25px;
  width: 27px;
  height: 6px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 30px;
}

.silla-derecha {
  margin-left: 16px;
  width: 27px;
  height: 6px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 30px;
}

.mesa {
  width: 106px;
  height: 47px;
  margin: 6px 0px;
  background: #ffffff;
  border: 5px solid #000000;
  border-radius: 30px;
}