.Categoria-All{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;

    width: 364px;
    height: 139px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.categoria-title-area{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 15px;

    width: 130px;
    height: 28px;

    flex: none;
    order: 0;
    flex-grow: 0;
}